
*.dll
*.pdb
*.obj
*.db
*.db-shm
*.vsidx
*.lock
.vs/Lightning X/v17/.suo
*.db-wal
*.opendb
*.recipe
*.log
*.iobj
*.ipdb
*.tlog
*.ipch
*.sarif
*.xml
*.txt
Binaries/Release-Intermediates/std.compat.ixx.ifc.dt.module.json.command
Binaries/Release-Intermediates/std.compat.ixx.ifc.dt.module.json.command
Binaries/Release-Intermediates/std.ixx.ifc.dt.module.json.command
*.command
*.txt
*.bin
*.command
codeium_api_key
language_server_windows_x64.exe
*.command
*.ifc
